[Unit]
Description=rfid-audio service
ConditionPathExists=/usr/lib/rfid-audio/target/armv7-unknown-linux-gnueabihf/debug/rfid-audio
After=network-online.target sound.target

[Service]
Type=simple
ExecStart=/usr/lib/rfid-audio/target/armv7-unknown-linux-gnueabihf/debug/rfid-audio -m /usr/lib/rfid-audio/mapping.txt -d /usr/lib/music/
ExecStop=/bin/true
User=rfid-audio
Group=rfid-audio
LimitNOFILE=1024

Restart=always
RestartSec=60

WorkingDirectory=/usr/lib/rfid-audio/
SyslogIdentifier=rfid-audio

[Install]
WantedBy=multi-user.target
