[Unit]
Description=rfid-audio service
ConditionPathExists=/home/ceigel/rfid-audio/target/armv7-unknown-linux-gnueabihf/debug/rfid-audio
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/ceigel/rfid-audio/target/armv7-unknown-linux-gnueabihf/debug/rfid-audio -m /home/ceigel/rfid-audio/mapping.txt -d /home/ceigel/music/
ExecStop=/bin/true
User=rfid-audio
Group=rfid-audio
LimitNOFILE=1024

Restart=always
RestartSec=60

WorkingDirectory=/home/ceigel/rfid-audio/
SyslogIdentifier=rfid-audio

[Install]
WantedBy=multi-user.target
